# string

In [1]:
# Escape char (\')
string = 'data science and \'machine learning\'' 
print(string)

data science and 'machine learning'

In [2]:
# used for new line (\n)
string="my name is aakash patil \n and \ni am learning machine learning and deep learning"
print(string)

my name is aakash patil
 and
i am learning machine learning and deep learning

In [3]:
# backward slash (\)
string ="i am learning machine learning \deep learning \ natural language processing"
print(string)

i am learning machine learning \deep learning \ natural language processing

In [4]:
# backward slash (\) + (\t) will leave space and give output in tabular form.
str1="The \t sun \t shines."
str2="Cats\t meow \t loudly."
str3="Birds \t fly\t high."
print(str1)
print(str2)
print(str3)

The 	 sun 	 shines.
Cats	 meow 	 loudly.
Birds 	 fly	 high.

In [5]:
# concatecation :  to join 2 words ('+' operator used  concatenation, and it combines string1 and string2 to create a new string)
str1="aakash"
str2="patil"
str3=5050
string=str1+str2+str(str3)
print(string)

aakashpatil5050

In [ ]:
# addition '+' operator used  addition, and it adds the values of number1 and number2 to produce  sum, which is then printed as the result.
number1 = 7
number2 = 4
sum_result = number1 + number2
print(sum_result)

## string methods

In [6]:
1. capitalize 
2. upper 
3. lower
4. title
5. swapcase
6. casefold
7. rstrip
8. lstrip
9. strip
10. replace
11. count
12. index
13. find
14. split
15. join
16. endswith
17. startswith 
18. isalnum
19. isalpha
20. isdecimal 
21. isdigit 
22. isnumeric
23. islower
24. isupper
25. istitle
26. isspace
27. zfill
28. center

SyntaxError: invalid syntax (1139717330.py, line 1)

## 1. capitalize

In [30]:
string="aakashpatil"
string.capitalize()

'Aakashpatil'

## 2. upper

In [31]:
string="aakash patil"
string.upper()

'AAKASH PATIL'

## 3. lower

In [32]:
string="AAAKASH PATIL"
string.lower()

'aaakash patil'

## 4. title

In [33]:
string="the cat chased the mouse."
string.title()

'The Cat Chased The Mouse.'

## 5. swapcase

In [34]:
string="The Cat Chased The Mouse"
string.swapcase()

'tHE cAT cHASED tHE mOUSE'

## 6. casefold

In [35]:
string= "AaKash Patil @@#"
string.casefold()  #converts all characters to lowercase and also handles certain special cases that are language-specific

'aakash patil @@#'

## 7. rstrip

In [36]:
name ="       aakash patil    "
name.rstrip()            # remove spaces at end.

'       aakash patil'

## 8. lstrip

In [8]:
name ="       aakash patil    "
name.lstrip()           # remove spaces at start.

'aakash patil    '

## 9. strip

In [9]:
name ="       aakash patil    "
name.strip()       # combination of rstrip + lstrip

'aakash patil'

## 10. replace

In [10]:
string="python and machine learning"
string.replace("python","data science")

'data science and machine learning'

## 11. count

In [7]:
string="python is a programming language,Python is a case sensative language "
string.count("python")

1

## 12. index

In [12]:
string="python is a programming language,Python is a case sensative language "
string.index("i")    # return index for only first occurance

7

# 13. find

In [13]:
string="python is a programming language,Python is a case sensative language "
string.find("a")    # RETURN THE INDEX

10

## 14. split

In [14]:
string="python is a programming language,Python is a case sensative language "
string.split()

['python',
 'is',
 'a',
 'programming',
 'language,Python',
 'is',
 'a',
 'case',
 'sensative',
 'language']

## 15. join

In [15]:
string=['python',
 'is',
 'a',
 'programming',
 'language,Python',
 'is',
 'a',
 'case',
 'sensative',
 'language']
result_string = ''.join(string)
print(result_string)

pythonisaprogramminglanguage,Pythonisacasesensativelanguage

## 16. endswith

In [16]:
string = "The sun sets, painting the sky with vibrant hues of orange"
string.endswith("orange")

True

## 17. startswith

In [17]:
string ="Stars twinkle in the night."
string.startswith("Stars")

True

## 18. isalnum

In [18]:
string1 = "Hello123"          # CHECK IF STRING IS ALPHANUMERIC[a-z.A-Z,0-9]
string2 = "Hello, Python!"
string3 = "12345"
string4 = "" 
print(string1.isalnum())  # True, as it contains only letters and numbers
print(string2.isalnum())  # False, as it contains non-alphanumeric characters (comma and space)
print(string3.isalnum())  # True, as it contains only numbers
print(string4.isalnum())  # False, as it is an empty string (no characters)

True
False
True
False

## 19. isalpha

In [8]:
string1 = "HelloWorld"           # contains only alphabetical characters (letters) and has a length greater than zero.
string2 = "Hello, Python!"
string3 = "12345"
string4 = ""
print(string1.isalpha())  # True, as it contains only letters
print(string2.isalpha())  # False, as it contains non-letter characters (comma and space)
print(string3.isalpha())  # False, as it contains digits
print(string4.isalpha())  # False, as it is an empty string (no characters)

True
False
False
False

## 20. isdecimal

In [20]:
string1 = "12345"
string3 = "-5678"
string4 = "abc123"
print(string1.isdecimal())  # True, as it represents a decimal number
print(string3.isdecimal())  # False, as it contains a negative sign
print(string4.isdecimal())  # False, as it contains non-digit characters

True
False
False

## 21. isdigit

In [21]:
string1 = "12345"
string2 = "Hello"
string3 = "12.34"
print(string1.isdigit())  # True, as it contains only digits
print(string2.isdigit())  # False, as it contains non-digit characters
print(string3.isdigit())  # False, as it contains decimal point

True
False
False

## 22. isnumeric

In [22]:
string1 = "12345"      # check whether a given string represents a numeric value.
string2 = "12.34"
string3 = "½"
string4 = "x²"
string5 = "10⁴"
print(string1.isnumeric())  # True, as it contains only digits
print(string2.isnumeric())  # False, as it contains a decimal point
print(string3.isnumeric())  # True, as it contains a Unicode numeric character (fraction ½)
print(string4.isnumeric())  # False, as it contains alphabetic characters (x and ²)
print(string5.isnumeric())  # True, as it contains a Unicode numeric character (superscript ⁴)

True
False
True
False
True

## 23. islower

In [23]:
string1 = "hello"
string2 = "Hello"
string3 = "123abc"
string4 = "abc"
print(string1.islower())  # True, as all characters are lowercase
print(string2.islower())  # False, as it contains uppercase characters
print(string3.islower())  # True, as it contains lowercase alphabetic characters
print(string4.islower())  # True, as all characters are lowercase

True
False
True
True

## 24. isupper

In [24]:
string1 = "HELLO"    # Using isupper() to check if each string contains only uppercase alphabetic characters
string2 = "Hello"
string3 = "123ABC"
string4 = "ABC"
print(string1.isupper())  # True, as all characters are uppercase
print(string2.isupper())  # False, as it contains lowercase characters
print(string3.isupper())  # True, as it contains uppercase alphabetic characters
print(string4.isupper())  # True, as all characters are uppercase

True
False
True
True

## 25. istitle

In [25]:
string1 = "Titlecased String Example"      # Using istitle() to check if each string follows the rules of a titlecased string
string2 = "This Is Not Titlecased"
string3 = "Titlecased String With 123"
print(string1.istitle())  # True, as it is titlecased
print(string2.istitle())  # False, as it does not follow titlecased rules
print(string3.istitle())  # True, as it is titlecased (ignores digits)

True
True
True

## 26. isspace

In [26]:
string1 = "   "             # Using isspace() to check if each string contains only whitespace characters
string2 = "\t\t\t"
string3 = "Hello, World!"
string4 = "\n\n\n"
string5 = "  \t  \n  "
print(string1.isspace())  # True, as it contains only spaces
print(string2.isspace())  # True, as it contains only tabs
print(string3.isspace())  # False, as it contains visible characters
print(string4.isspace())  # True, as it contains only newlines
print(string5.isspace())  # True, as it contains a combination of spaces, tabs, and newlines

True
True
False
True
True

## 27. zfill

In [27]:
number1 = "123"                   # Using zfill() to pad the numeric strings with leading zeros
number2 = "4567"
number3 = "-89"
padded_number1 = number1.zfill(6)
padded_number2 = number2.zfill(8)
padded_number3 = number3.zfill(5)
print(padded_number1)  # "000123"
print(padded_number2)  # "00004567"
print(padded_number3)  # "-0089"

000123
00004567
-0089

## 28. center

In [28]:
string="data science"
print(len(string))
string.center(20)

12

'    data science    '

In [29]:
string="data science"
string.center(20,"*")

'****data science****'