## set

In [ ]:
Set is collection of different datatype seprated by , and enclosed by {}  and duplicate  data is not allowed. 
1. It is unordered 
2. It is mutable 
3. Duplicates are not allowed.
4. Separated by , 
5. enclosed {}

## set methods

In [ ]:
1. add()
2. update()
3. union()
4. remove()
5. discard()
6. pop
7. clear()
8. intersection()                 ### more than 1 argument 
9. intersection_update()
10. difference()                  ### more than 1 argument
11. differnece_update()
12. symmetric_difference()
13. symmetric_difference_update()
14. issubset()
15. issuperset()
16. isdisjoint()
17. copy()

### 1. add(): Adds an element to the set. If the element is already present, the set remains unchanged.

In [3]:
my_set = {1, 2, 3}
my_set.add(4)
print(my_set)                            # Output: {1, 2, 3, 4}

my_set.add(2)                            # Element 2 already exists, so no change in the set
print(my_set)

{1, 2, 3, 4}
{1, 2, 3, 4}

### 2.update () : exisiting set item are updated .

In [4]:
set1 = {1,2,3}
set2 = {4,5,6}
set3 = {7,8,9}
set1.update(set2,set3)
set1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

### 3.union () : Union method will return new set .

In [6]:
s1 = {10,20,30}
s2 = {40,50,60}
s3 = s1.union(s2)
print(s3)

{50, 20, 40, 10, 60, 30}

### 4. remove(): Removes a specified element from the set. Raises a KeyError if the element is not found.

In [7]:
my_set = {1, 2, 3, 4}
my_set.remove(3)
print(my_set)                                 # Output: {1, 2, 4}

{1, 2, 4}

### 5.discard(): Removes a specified element from the set if it exists. If the element is not found, it does nothing.

In [8]:
my_set = {1, 2, 3, 4}
my_set.discard(3)
print(my_set)                                   # Output: {1, 2, 4}
 
my_set.discard(5)                               # Element 5 does not exist, so no change in the set
print(my_set)                                   # Output: {1, 2, 4}

{1, 2, 4}
{1, 2, 4}

### 6.pop(): Removes and returns an arbitrary element from the set. Since sets are unordered, the element removed is not necessarily the last one.

In [9]:
my_set = {1, 2, 3, 4}
removed_element = my_set.pop()
print(removed_element)                        # Output: Any arbitrary element (e.g., 1, 2, 3, or 4)
print(my_set)                                 # Output: The set with the removed element

1
{2, 3, 4}

### 7. clear (): remove all item from set , return empty set .

In [16]:
s1 = {10,20,30,40,50}
s1.clear()
s1

set()

### 8.Intersection ():  Return new variables with common data from sets .

In [15]:
s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7,8}
s3 = s1.intersection(s2)
s3

{3, 4, 5}

### 9.Intersection_update ():  update with common data from sets .

In [14]:
s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7,8}
print(s1)
s1.intersection_update(s2)
s1

{1, 2, 3, 4, 5}

{3, 4, 5}

### 10.difference (): This method will return new set variable .Unique value from set.

In [13]:
city1={"mumbai","pune","banglore"}
city2={"delhi","pune","chennai"}
city=city1.difference(city2)
print(city)

{'mumbai', 'banglore'}

### 11.difference_update (): it will make changes in exisiting variable .

In [17]:
city1={"mumbai","pune","banglore"}
city2={"delhi","pune","chennai"}
city1.difference_update(city2)
print(city1)
print(city2)

{'mumbai', 'banglore'}
{'pune', 'delhi', 'chennai'}

### 12.symmetric_difference() : Unique values from both sets.It will return new set.

In [18]:
city1={"mumbai","pune","banglore"}
city2={"delhi","pune","chennai"}
city=city1.symmetric_difference(city2)
print(city)

{'delhi', 'mumbai', 'chennai', 'banglore'}

### 13.symmetric_difference_update() :It will update the unique values from both sets into one set.

In [19]:
city1={"mumbai","pune","banglore"}
city2={"delhi","pune","chennai"}
city=city1.symmetric_difference_update(city2)
print(city1)
print(city2)

{'delhi', 'mumbai', 'chennai', 'banglore'}
{'pune', 'delhi', 'chennai'}

### 14.issubset() : True or False ,subset >> set2 all values present in set1 i.e set2 is subset set1.

In [21]:
set1 = {1,5,9,2,3,15,12}
set2 = {1,5,9}
set2.issubset(set1)

True

### 15.issuperset() :True or False ,Superset >> set2 all values present in set1 along with other values  i.e.set1 will be superset of set2.

In [22]:
set1 = {1,5,9,2,3,15,12}
set2 = {1,5,9}
set1.issuperset(set2)

True

### 16.isdisjoint() :  If common items are present then return False otherwise it will return True.

In [23]:
s1 = {2,3,5,6,7,8}
s2 = {20,30,50}
s1.isdisjoint(s2)

True